<style>
* {
  text-align: center;
  color: blue;
}
        table{
          margin-right: 3400px;
          margin-left: 250px;
        }
        table {
            border-collapse: collapse;
            width: 50%;
        }
        table, th, td {
            border: 1px solid black;
        }
    td {
      width: 50em;
      height: 5ex;
      background-color: goldenrod;
      border: 2px solid firebrick;
      border-radius: 0px;
      font-weight: bold;
      color: black;
      cursor: progress;
    }
        td:hover {
      background-color: #5F9EA0;
    }
    
</style>